<ion-header>
  <ion-toolbar>
    <ion-title>Create a new account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  size="6" offset="3">
        <form [formGroup]="myForm">
          <ion-item lines="none" color="light">
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-item lines="none" color="light">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item lines="none" color="light">
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item lines="none" color="light">
            <ion-label position="floating">Photo</ion-label>
            <ion-input formControlName="photo"></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  size="6" offset="3">
        <ion-button color="light" (click)="onPost()">Create account</ion-button>

      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
